<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div *ngIf="elemnt">
  The record has been save
</div>
<div class="content-box divsVacation" *ngFor="let vacation of vacations">
    <h3>{{vacation.city}}</h3>
    <p>{{vacation.description}}</p>
    <p>${{vacation.cost}}</p>
    <div class="buttons-container">
      <a routerLink="/edit-vacation/{{vacation.id}}">
        <button class="btn btn-success">Edit</button>
      </a>
      <button class="btn btn-danger" (click)="onDeleteClicked(vacation.id)">Delete</button>
    </div>
  </div>
  <a routerLink="/new-vacation">
    <button class="createvacationButton">Create New Vacation</button>
  </a>
  